

.body {
    
    background-image: url(https://cdn-images-1.medium.com/max/1600/1*6iMeVDIqrceSlODy3dpKUw.gif);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.body img{
    height: 150px; 
    width: 150px;
    border-start-end-radius: 30px;  
}
.body h1{
    font-family: Playfair Display;
    color: #D796DB;
    text-align: center;
    margin-bottom: 100px;
}
.body p{
    font-family: Fjalla One;
    color: #6BEEEC;
    margin-top: 20px;
    text-align: center;
}
.body a{
    border-color: aliceblue;
    background-color: #6BEEEC;
    width: 150px;
    margin-right: 30px;
  
}
.body a:hover{
    border-color: #6BEEAF;
    background-color: #D796DB;
}
.button{
    text-align: center;
}

@media (min-width: 480px) and (max-width: 768px){
    .body {
        min-height: 100%;
        min-width: 480px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
}